.NavBar {
  height: 10vh;
  width: 100vw;
  overflow: hidden;
  background-color: #fff;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  text-align: center;
}

.dropdown-menu {
  float: left;
}

.dropdown-btn {
  height: 10vh;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 25pt;
  color: #d4af37;
  margin: 0;
  display: flex;
  justify-content: center;
}

.dropdown-content {
  height: 90vh;
  width: 90vw;
  display: none;
  position: absolute;
  background-color: #d4af37ed;
  z-index: 1;
}

.close-btn {
  position: absolute;
  right: 0;
  font-size: 25pt;
  height: 5vh;
  width: 5vh;
}

.item {
  font-size: 15pt;
  margin: 2vh;
  color: #f5f5f5;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
}

.company-logo {
  height: 8.5vh;
}

/* Show the dropdown menu on hover */
.dropdown-menu:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.extra-buttons {
  font-size: 22pt;
  color: #d4af37;
  display: flex;
  justify-content: space-evenly;
}

$ipad-width: 1024px;
$desktop-width: 1365px;

@media screen and (min-width: #{$ipad-width}) {
  .NavBar {
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }

  .dropdown-menu {
    float: none;
  }

  .dropdown-menu:hover .dropdown-content {
    display: flex;
    flex-direction: row;
  }

  .dropdown-btn {
    display: none;
  }

  .dropdown-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: initial;
    height: 10vh;
    width: 100%;
    padding: 0;
    background-color: #fff;
  }

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 10vh;
    font-size: 12pt;
    margin: 0;
    color: #5a382a;
  }

  .extra-buttons {
    font-size: 25pt;
  }
}

@media screen and (min-width: #{$desktop-width}) {
  .NavBar {
    width: 99vw;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    overflow: hidden;
  }

  .dropdown-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: initial;
    height: 10vh;
    width: 100%;
    padding: 0;
    background-color: #fff;
  }

  .company-logo {
    height: 10vh;
    margin-right: 10%;
  }

  .item {
    font-size: 13pt;
  }

  .extra-buttons {
    font-size: 25pt;
  }
}
