.NavBar {
  height: 10vh;
  width: 100vw;
  background-color: #fff;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  text-align: center;
}

.dropdown-menu {
  float: left;
}

.dropdown-btn {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 25pt;
  color: #D4AF37;
  margin: 0;
  & .ios-menu {
    height: fit-content;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #D4AF37;
  z-index: 1;
  padding: 10%;
}

.item {
  text-decoration: none;
  text-transform: uppercase;
}

.company-logo {
  height: 8.5vh;
}

/* Show the dropdown menu on hover */
.dropdown-menu:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.extra-buttons {
  font-size: 22pt;
  color: #D4AF37;
  display: flex;
  justify-content: space-evenly;
}

$ipad-width: 1024px;
$desktop-width: 1365px;


  @media screen and (min-width: #{$ipad-width}) {
    .NavBar {
      display: grid;
      grid-template-columns: 30% 40% 30%;
    }

    .dropdown-btn {
      display: none;
    }

    .dropdown-content {
      display: flex;
      justify-content: stretch;
      padding: 0;
      background-color: #fff;
      position: relative;
    }
    
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;
      height: 10vh;
      font-size: 12pt;
      margin: 0;
      color: #5A382A;
    }
    
    .extra-buttons {
      font-size: 30pt;
    }
  }